@charset "utf-8";
/* CSS Document */



body {
    background: url('../Resources/img/favi.png')  fixed;

}

#circulor {
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	background: red;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
#circulov {
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	background: green;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
#circulor > p {
	font-family: sans-serif;
	color: white;
	font-size: 2rem;
	font-weight: bold;
}
.container{
  width: 95%;
}